<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="E:\Angular\FlightPriceCatcher\src\app\app.component.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

<body class="container-fluid" style="background-image: url(https://images.pexels.com/photos/7130500/pexels-photo-7130500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);background-size: cover;">
   

 <br>
 <br>
 <br>


 
    <div class="card shadow mb-5 bg-whitet rounded bg-opacity 25">
      
        <br>
        <form #loginForm = "ngForm" class="form-group"(ngSubmit)="loginFormSubmit(loginForm.value)" novalidate>
             <input type="text" ngModel name = "loginId" class="form-control"required #loginId="ngModel" minlength="8" maxlength="25" style="width: 70%;" placeholder="Username"><br>
            <input type="password" ngModel name = "password" class="form-control" required #password="ngModel" minlength="8" maxlength="15" style="width: 70%;" placeholder="Password"><br>
        <button class="btn btn-primary" [disabled]="!loginForm.valid" style="width: 70%;" routerLink="homepage" >Login</button>
        <br>
        <br>
        <!-- <button class="btn btn-social-icon btn-google mx-1" (click)="signWithGoogle()"><span class="fa fa-google"></span></button> -->
        <button class="btn btn-success" style="width: 70%;" type="register" (click)="signWithGoogle()">Sign in with Google</button>
      
      </form>
         <div  *ngIf="loginId.errors?.['required']&& loginId.touched"style="color:red;"> Login id is mandatory..</div>
        <div *ngIf="password.errors?.['required']&& password.touched"style="color:red;"> password is mandatory..</div>
        <div *ngIf="loginId.errors?.['minlength']&& loginId.touched"style="color:red;"> Login id is mandatory..</div>
        <div *ngIf="password.errors?.['minlength']&& password.touched" > password is mandatory..</div> 
      </div>

       <!-- <div *ngIf="gUser" class="card text-center">
        <h6 class=""card-header>Login with Google in Angular
        </h6>
        <div class="card-block"></div>
        <img *ngIf="gUser.photoUrl"src="{{gUser.photoUrl}}" alt="" class="card-img-top img-responsive photo">
        <div class="card-title">{{gUser.name}}</div>
        <div class="card-text">{{gUser.email}}</div>
        <p class="card-text">Logged in with : {{gUser.provider}}</p>
            </div> -->
    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>



    


    




 

