<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="E:\Angular\FlightPriceCatcher\src\app\app.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>


<!-- <h3><p class="card-title text-center shadow mb-5 rounded">Registration Page</p></h3> -->
<body class="container-fluid" style="background-image: url(https://images.pexels.com/photos/1465904/pexels-photo-1465904.jpeg?cs=srgb&dl=pexels-nur-andi-ravsanjani-gusma-1465904.jpg&fm=jpg&_gl=1*o7f84h*_ga*MTkwOTk1Nzc5Ni4xNjY3Mzc0Nzcz*_ga_8JE65Q40S6*MTY2NzQ2NjEwOC4zLjAuMTY2NzQ2NjEwOC4wLjAuMA..);background-size: cover;">
    <br>
    <br>

  <div class="card shadow mb-5 bg-transparent-opacity-25 rounded" style="width:50%;padding-left: 20px;">

        <br>
  
      
    <form #RegistrationForm = "ngForm" (ngSubmit)="RegistrationFormSubmit(RegistrationForm.value)" novalidate>

        <div class="form row">
                <div class="col-sm-6">
                    <input type="text" ngModel name = "firstname"  class="form-control" required #firstname="ngModel" placeholder="FirstName"><br/>
                </div>
                <div class="col-sm-6">
                    <input type="text" ngModel name = "lastname"   class="form-control" required #lastname="ngModel" placeholder="LastName"><br/>

                </div>
        </div>

        <div class="row">
            <div class="col-sm-6" >
              Gender :<label class="radiobtn" required #gender="ngModel"ngModel name = "male" id="flexRadioDefault1" ><input type="radio" name="gender" value="male" >Male</label>
              <label class="radiobtn" required #gender="ngModel"ngModel name = "female" ><input type="radio" name="gender" value="female" >FeMale</label>
              <label class="radiobtn" required #gender="ngModel"ngModel name = "other" ><input type="radio" name="gender" value="other" >Others</label>
                <!-- <input type="radio" ngModel name = "gender"    class="form-control" required #gender="ngModel"  placeholder="Gender"><br/> -->

            </div>
            <div class="col-sm-6">
                <input type="text" ngModel name = "Dob"       class="form-control" onfocus="(this.type='date')" required #dob="ngModel" placeholder="Dob"><br/>
             </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <input type="text" ngModel name = "emailid"   class="form-control" required #emailid="ngModel" placeholder="Email Id"><br/>

        </div>
        <div class="col-sm-6">
            <!-- <input type="text" ngModel name = "contactnumber"  class="form-control" required #contactnumber="ngModel" placeholder="ContactNumber"><br/> -->
            <input type="text" name="num" data-validation="number" data-validation-allowing="negative,number" input name="color" data-validation="number" datavalidation-ignore="$" required="required" class="form-control" id="phone_no" placeholder="Phone Number">
         </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <input type="text" ngModel name = "address"   class="form-control" required #address="ngModel" placeholder="Address"><br/>

    </div>
    <div class="col-sm-6">
        <input type="text" ngModel name = "pincode"   class="form-control" required #pincode="ngModel" placeholder="Pincode"><br/>

     </div>
</div>

<div class="form row">
    <div class="form-group col-md-6">
        <input type="text" ngModel name = "password"  class="form-control" required #password="ngModel" placeholder="Password"><br/>

    </div>
    <div class="form-group col-md-6">
        <input type="text" ngModel name = "password"  class="form-control" required #password="ngModel" placeholder="Confirm Password"><br/>

     </div>
</div>




         <!-- <input type="text" ngModel name = "firstname"  class="form-control" required #firstname="ngModel" placeholder="FirstName"><br/>
         <input type="text" ngModel name = "lastname"   class="form-control" required #lastname="ngModel" placeholder="LastName"><br/>
         <input type="text" ngModel name = "gender"    class="form-control" required #gender="ngModel"  placeholder="Gender"><br/>
         <input type="text" ngModel name = "Dob"       class="form-control" onfocus="(this.type='date')" required #dob="ngModel" placeholder="Dob"><br/>
         <input type="text" ngModel name = "emailid"   class="form-control" required #emailid="ngModel" placeholder="Email Id"><br/>
         <input type="text" ngModel name = "contactnumber"  class="form-control" required #contactnumber="ngModel" placeholder="ContactNumber"><br/>
         <input type="text" ngModel name = "address"   class="form-control" required #address="ngModel" placeholder="Address"><br/>
         <input type="text" ngModel name = "pincode"   class="form-control" required #pincode="ngModel" placeholder="Pincode"><br/>
         <input type="text" ngModel name = "password"  class="form-control" required #password="ngModel" placeholder="Password"><br/> -->
         country:<select aria-placeholder="Country" name="country" ngModel >
        
            <option value={{country.cca3}}
    
            *ngFor="let country of countries">{{country.name.common}}</option>
        </select><br/><br>
        <button class="btn btn-success"  (click)="RegisterSubmit" style="width: 20%;" type="submit" >Register</button>
        <br>
      
         </form>
         
         
        
        

<!-- <div style="color: red;" *ngIf="firstname.errors?.['required'] && firstname.touched">FirstName is mandatory..</div>
<div style="color: red;" *ngIf="lastname.errors?.['required'] && lastname.touched">LastName is mandatory..</div> -->
<!-- <div style="color: red;" *ngIf="gender.errors?.['required'] && gender.touched">Gender is mandatory..</div> -->
<!-- <div style="color: red;" *ngIf="emailid.errors?.['required'] && emailid.touched">EmailId is mandatory..</div>
<div style="color: red;" *ngIf="contactnumber.errors?.['required'] && contactnumber.touched">ContactNumber is mandatory..</div>  -->

</div>

<br>
<br>
<br>
<br>
<br>

  
</body>

  

