<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="E:\Angular\FlightPriceCatcher\src\app\app.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <title>Document</title>
	
</head>

<body class="container-fluid" style="background-image: url(https://images.pexels.com/photos/1465904/pexels-photo-1465904.jpeg?cs=srgb&dl=pexels-nur-andi-ravsanjani-gusma-1465904.jpg&fm=jpg&_gl=1*o7f84h*_ga*MTkwOTk1Nzc5Ni4xNjY3Mzc0Nzcz*_ga_8JE65Q40S6*MTY2NzQ2NjEwOC4zLjAuMTY2NzQ2NjEwOC4wLjAuMA..);background-size: cover;">
<br>
<br>

	
    <!--Card-->
<div class="card shadow mb-5 bg-white rounded">

	<!--Card-Body-->
	<div class="card-body">

		<!--Card-Title-->
		<p class="card-title text-center shadow mb-5 rounded">Travel Booking Form</p>


    <hr>

	<form #FindFlightForm = "ngForm" (ngSubmit)="FindFlightFormSubmit(FindFlightForm.value)" novalidate>

		<!-- <p class="searchText"><strong>Search For Cheap Flights</strong></p> -->

		<!--First Row-->
		<div class="row mb-3 mt-3">

			<!-- <label class="radiobtn"><input type="radio" name="gender" value="male" >One Way</label> -->
			

		</div>


		<!--Second Row-->
		<div class="row">

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="country" ngModel>From City/Airport</option>
		<option value={{country.cca3}}
    
            *ngFor="let country of countries">{{country.name.common}}</option>
        <option value="1">New Delhi</option>
        <option value="2">Mumbai</option>
        <option value="3">Bangalore</option>
		<option value="4">Hyderabad</option>
		<option value="5">Chennai</option>
		<option value="6">Kolkata</option>
    </select>
			</div>

			<div class="col-sm-6">
				<select class="browser-default custom-select mb-4"  id="select">
         <option name="country" >To City/Airport</option>
		<!-- <option value={{country.cca3}}
    
            *ngFor="let country of countries">{{country.name.common}}</option> --> -->
       <option value="1">New Delhi</option>
        <option value="2">Mumbai</option>
        <option value="3">Bangalore</option>
		<option value="4">Hyderabad</option>
		<option value="5">Chennai</option>
		<option value="6">Kolkata</option>

		<!-- Country:<select name="country" ngModel>
                
			<option value={{country.cca3}}
	
			*ngFor="let country of countries">{{country.name.common}}</option> -->
		</select>
    <!-- </select> -->
			</div>

		</div>


		<!--Third Row-->
		<div class="row">

			<div class="col-sm-6">
				<input placeholder="&#xf073; Departing;" type="text" onfocus="(this.type='date')" id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome" >
				<!-- <input type="text" placeholder="&#xf073; Departing:" onfocus="(this.type='date')"id="date" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome"> -->
				<!-- <mat-form-field>
					<input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker ></mat-datepicker>
				  </mat-form-field> -->
				  <!-- <input  class="form-control" type="datetime" date-time auto-close="true" view="date" 
  					min-view="date" maxlength="10" format="dd/MM/yyyy" ng-model="$ctrl.DateInput" 
  					placeholder="renewal date" required="true"> -->
			</div>

				<div class="col-sm-6">
					<input type="text" placeholder="&#xf073; Arriving:" onfocus="(this.type='date')"id="date" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome">
					<!-- <input placeholder="&#xf073; Arriving" type="text" id="date-picker-example" class="form-control datepicker" style="font-family:Arial, FontAwesome" > -->
			</div>

				</div>


				<!--Fourth Row-->
				<div class="row mt-4">

					<!-- <div class="col-sm-6"> -->
						<!-- <input type="text" placeholder="🕐Anytime" onfocus="(this.type='time')"id="date-picker-example" class="form-control datepicker mb-4" style="font-family:Arial, FontAwesome"> -->
						<!-- <select class="browser-default custom-select mb-4" id="select">
						<option value="time" disabled="" selected="">Anytime</option>
						<option value="1">6:00 AM</option>
						<option value="2">3:00 PM</option>
						<option value="3">6:00 PM</option> -->
    <!-- </select> -->
					</div>

					<!-- <div class="col-sm-6"> -->
						<!-- <input type="text" placeholder="🕐Anytime" onfocus="(this.type='time')"id="time-picker-example" class="form-control timepicker mb-4" style="font-family:Arial, FontAwesome"> -->
						<!-- <select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Anytime</option>
          <option value="1">6:00 AM</option>
        <option value="2">3:00 PM</option>
        <option value="3">6:00 PM</option> -->
    <!-- </select> -->
					<!-- </div> -->

				<!-- </div> -->




				<!--Fifth Row-->
				<div class="row">

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Kids(0-14)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Adults(15-64)</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
					</div>

					<div class="col-sm-4">
						<select class="browser-default custom-select mb-4" id="select">
        <option value="" disabled="" selected="">Seniors(65+)</option>
   <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

	<button class="btn btn-primary float-right mt-5" style="background-color: #1e81b0;"  routerLink="findFlights" >Find Flights</button>

					</div>



				</div>

				<!-- <button class="btn btn-outline-success" style="color: white;" type="submit" routerLink="bookingpage" >Register</button> -->

				<!-- <a href="#" class="btn btn-primary float-right mt-5" style="background-color: #1e81b0;"  routerLink="findFlights">Find Flights</a> -->
				<!-- <button class="btn btn-primary float-right mt-5" style="background-color: #1e81b0;"  routerLink="findFlights" >Find Flights</button> -->
			</form>
			</div>
		</div>

    <br>
	<br>
	<br>
</body>
</html>