<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="E:\Angular\FlightPriceCatcher\src\app\app.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">


</head>
<body  class="container-fluid" style="background-image: url(https://images.pexels.com/photos/7130500/pexels-photo-7130500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);background-size: cover;">
    <br>
    <br>

    <div class="row" style="margin-left: 500px;">
        <article class="card fl-left">
          <section class="date">
            <time datetime="23th feb">
              <span>17</span><span>nov</span>
            </time>
          </section>
          <section class="card-cont">
            <small>air asia</small>
            <h3>Hyderabad to banglore</h3>
            <div class="even-date">
             <i class="fa fa-calendar"></i>
             <time>
               <span>wednesday 28 december 2022</span>
               <span>08:55pm to 12:00 am</span>
             </time>
            </div>
            <div class="even-info">
              <i class="fa fa-map-marker"></i>
              <p>
                Rajiv Gandhi International Airport,Hydeabad
              </p>
            </div>
            <a style="background-color: green;">tickets</a>
          </section>
        </article>

      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

</body>
